<% provide(:title, "Help") %>

<h1>Helpページだよ</h1>

<p>ここはサンプルアプリのHelpページだよ。</p>
<p>Railsチュートリアルの<%= link_to "ヘルプページ", "https://railstutorial.jp/help" %>にいってね</p>
<p>書籍もあるよ。<%= link_to "Ruby on Rails Tutorial", "https://railstutorial.jp/#book" %></p>