<!-- ここで設定した:titleの値がprovideメソッドによってapplication.html.erbに代入される -->
<% provide(:title, "Home") %>

<h1>サンプルアプリだよ</h1>

<p>ここはサンプルアプリのHomeページだよ。</p>
<p><%= link_to "Railsチュートリアル", "https://railstutorial.jp/" %>に従って作成しているよ。</p>