<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    <%# "turbo-method": :deleteでDELETEリクエストを発行する準備をする %>
    <%# turbo_confirmでJavaScriptのconfirmボックスを表示して削除前に確認ダイアログを表示する %>
    | <%= link_to "削除する", user, data: { "turbo-method": :delete,
                                          turbo_confirm: "本当に削除する？"} %>
  <% end %>
</li>